<div class="row">
  <%= form_for(@hipchat_room, html: {id: "form"}, url: hipchat_rooms_path) do |f| %>
  <div class="col-md-4">
      <ul class="list_user_labels">
        <li class="user_input_label">Name:</li>
        <li class="user_input_label">Room ID:</li>
        <li class="user_input_label">API Token:</li>
      </ul>
  </div>
  <div class="col-md-4">
    <ul class="list_user_values">
      <li class="user_input_value"><%= f.text_field :name, :placeholder => "Name" %></li>
      <li class="user_input_value"><%= f.text_field :room_id, :placeholder => "Room ID" %></li>
      <li class="user_input_value"><%= f.text_field :api_token, :placeholder => "API Token" %></li>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= f.submit "Submit", class: "submit" %>
  </div>
</div>
<% end %>
